@import "node_modules/bootstrap/scss/bootstrap";

body {
	font-family: Roboto;
}

.container {
	width: 70%;
	height: 70%;
	margin: 40px auto;
	background: $light;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	position: relative;
	padding: 2rem 0;
}

.field {
	padding: 2px;
	display: grid;
	grid-template: repeat(4, 1fr) / repeat(4, 1fr);
	border: 2px solid $gray-500;
	cursor: pointer;
	margin: 1rem;
}

.tag {
	border: 1px solid $blue-100;
	width: 76px;
	height: 76px;
	min-width: 40px;
	min-height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $white;
}

.start {
	margin-bottom: 1rem;
	padding: 5px 15px;
	font-size: 16px;
	cursor: pointer;
	border: $border-color;
	border-radius: $border-radius-lg;
	background: $info;
	font-weight: 500;
	color: $white;

	&:active {
		background: $blue-200;
	}

	&:disabled {
		opacity: .4;
	}
}

.footer {
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
	padding: 0.5rem 0;
}

.count {
	text-align: center;
	width: 32px;
	height: 24px;
	font-size: 18px;
	padding: 6px;
	border: none;
	outline: none;
	margin-right: 4px;

	&_wrapper {
		display: inline-flex;
		flex-flow: column;
	}

	&_arrow {
		font-size: 0.7rem;
	}

	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}
}

.label {
	margin-right: 1rem;
	font-size: 18px;
	font-weight: 400;
}

.clicks {
	position: absolute;
	top: 1.5rem;
	left: 1rem;

	&_counter {
		font-size: 1.2rem;
	}
}

.timer {
	font-weight: bold;

	&_wrapper {
		position: absolute;
		top: 4rem;
		left: 1rem;
	}
}
